<footer class="site-footer">
  <div>
    © 2008-2017, SonarCloud by <a href="http://www.sonarsource.com" title="SonarSource SA">SonarSource SA</a>. All rights reserved.
  </div>
  <div>
    <a href="https://about.sonarcloud.io/news/">News</a> -
    <a href="https://about.sonarcloud.io/terms.pdf">Terms</a> -
    <a href="https://twitter.com/sonarqube">Twitter</a> -
    <a href="https://about.sonarcloud.io/get-started/">Get Started</a> -
    <a href="https://about.sonarcloud.io/contact/">Help</a> -
    <a href="https://sonarcloud.io/about">About</a>
  </div>
</footer>
