<footer class="site-footer">
  <div>
    © 2008-2017, SonarQube.com by <a href="http://www.sonarsource.com" title="SonarSource SA">SonarSource SA</a>. All rights reserved.
  </div>
  <div>
    <a href="https://about.sonarqube.com/news/">News</a> -
    <a href="https://about.sonarqube.com/Terms_of_service.pdf">Terms</a> -
    <a href="https://twitter.com/sonarqube">Twitter</a> -
    <a href="https://about.sonarqube.com/get-started/">Get Started</a> -
    <a href="https://about.sonarqube.com/contact/">Help</a> -
    <a href="https://sonarqube.com/about">About</a>
  </div>
</footer>
