<footer class="site-footer">
  <div class="wrapper">
    <div class="site-footer-wrapper">
      <ul class="media-list">
        <li>
          <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
            <span class="icon icon--rss">{% include icon-rss.svg %}</span>
            <span class="username">RSS</span>
          </a>
        </li>

        {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
        {% endif %}
      </ul>

      <div class="site-description">
        <p>{{ site.description }}</p>
      </div>
    </div>
  </div>
</footer>
