<header class="site-header">
  <div class="wrapper">
    <a href="https://sonarqube.com/" class="site-logo">
      <img title="Continuous Code Quality Management"
           alt="Continuous Code Quality Management"
           src="{{ site.logo_url }}"
           width="81"
           height="30">
    </a>

    <nav class="site-nav">
      <a class="page-link {% if page.layout == "default" or page.layout == "post" %}active{% endif %}"
         href="{{ "/" | prepend: site.baseurl }}">News</a>

      {% for my_page in site.pages %}
        {% if my_page.title %}
          <a class="page-link {% if page.url == my_page.url %}active{% endif %}"
             href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
        {% endif %}
      {% endfor %}
    </nav>
  </div>
</header>
