<header class="site-header">
  <div class="wrapper">
    <a href="https://sonarqube.com/" class="site-logo">
      <img title="Go to SonarQube.com"
           alt="Go to SonarQube.com"
           src="{{ site.logo_url }}"
           width="81"
           height="30">
    </a>

    <nav class="site-nav">
      <a class="page-link {% if page.url == "/" %}active{% endif %}"
          href="{{ "/" | prepend: site.baseurl }}">About</a>

      <a class="page-link {% if page.url == "/get-started/" %}active{% endif %}"
          href="{{ "/get-started/" | prepend: site.baseurl }}">Get Started</a>

      <a class="page-link {% if page.url == "/terms-of-service/" %}active{% endif %}"
          href="/Terms_of_service.pdf">Terms of Service</a>

      <a class="page-link {% if page.url == "/news/" %}active{% endif %}"
          href="/news/">News</a>

      <!--a class="page-link {% if page.url == "/references/" %}active{% endif %}"
          href="/references/">They Talk About Us</a-->

      <a class="page-link {% if page.url == "/contact/" %}active{% endif %}"
          href="/contact/">Contact</a>
    </nav>
  </div>
</header>
