<header class="site-header">
  <div class="wrapper">
    <a href="https://sonarqube.com/" class="site-logo">
      <img title="Continuous Code Quality Management"
           alt="Continuous Code Quality Management"
           src="{{ site.logo_url }}"
           width="81"
           height="30">
    </a>

    <nav class="site-nav">
      <a class="page-link {% if page.layout == "default" or page.layout == "post" %}active{% endif %}"
          href="{{ "/" | prepend: site.baseurl }}">News</a>

      <a class="page-link {% if page.url == "/references/" %}active{% endif %}"
          href="/references/">They Talk About Us</a>

      <a class="page-link {% if page.url == "/terms-of-service/" %}active{% endif %}"
          href="/terms-of-service/">Terms of Service</a>

      <a class="page-link {% if page.url == "/about/" %}active{% endif %}"
          href="/about/">About</a>
    </nav>
  </div>
</header>
