body {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
}



/**
 * Wrapper
 */
.wrapper {
  max-width: $content-width;
  max-width: $content-width;
  min-width: 360px;
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;

    @include media-query($on-palm) {
      padding-right: $spacing-unit / 2;
      padding-left: $spacing-unit / 2;
    }
}



/**
 * Site Header
 */
.site-header {
  position: relative;
  padding-top: 7px;
  padding-bottom: 8px;
  background-color: $header-background;
}



/**
 * Site Logo
 */
.site-logo {
  display: inline-block;
  vertical-align: middle;
}



/**
 * Site Navigation
 */
.site-nav {
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  line-height: 30px;

  .page-link {
    margin-left: 20px;
    color: $header-text-color;
    font-size: 14px;
    font-weight: 300;

    &:hover, &:active, &.active {
      color: #e6e6e6;
    }
  }
}



/**
 * Site Footer
 */
.site-footer {
  padding: $spacing-unit 0;
  border-top: 1px solid #e6e6e6;
  background-color: #f3f3f3;
}

.site-footer-wrapper {
  display: flex;
  justify-content: space-between;
}

.media-list {
  margin: 0;
  list-style: none;
  line-height: 16px;
  font-size: 13px;

  > li + li {
    margin-top: 5px;
  }

  a {
    color: $grey-color;
  }

  a:hover {
    color: #4b9fd5;
  }

  a:hover path {
    fill: #4b9fd5;
  }
}

.site-description {
  max-width: 50%;
  line-height: 1.5;
  color: $grey-color;
  font-size: 12px;
  text-align: right;
}

@include media-query($on-palm) {
  .site-footer-wrapper {
    display: block;
  }

  .site-description {
    max-width: 100%;
    margin-top: 10px;
    text-align: left;
  }
}



/**
 * Page content
 */
.page-content {
  flex: 1 0 auto;
  margin-bottom: 40px;
  padding: $spacing-unit 0;
}

.post-list {
  margin: 10px 0 0;
  list-style: none;

  > li + li {
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #e6e6e6;
  }
}

.post-meta {
  line-height: 1;
  margin-bottom: 5px;
  color: $grey-color;
  font-size: $small-font-size;
  font-weight: 300;
}

.post-link {
  line-height: 1.5;
  font-size: 24px;
  font-weight: 300;
}

.post-footer {
  margin-top: 10px;
  font-size: $small-font-size;
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  line-height: 1.5;
  font-size: 36px;
  font-weight: 300;
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    font-size: 32px;

    @include media-query($on-palm) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;

    @include media-query($on-palm) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include media-query($on-palm) {
      font-size: 18px;
    }
  }
}

.post-navigation {
  display: flex;
  justify-content: space-between;
  margin-top: $spacing-unit;
  padding-top: $spacing-unit / 2;
  border-top: 1px solid #e6e6e6;
  font-size: 13px;
}

.post-navigation-previous {
  text-align: left;
}

.post-navigation-next {
  text-align: right;
}

.post-navigation-title {
  display: inline-block;
  vertical-align: top;
  max-width: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
