#tutorial {
  text-align: center;
  overflow: hidden;
  padding-bottom: 20px;

  .tutorial-list {
    margin-top: 50px;
    counter-reset: tutorialstep;
    display: block;

    .animate-in {
      -webkit-transform: translateY(40px);
      -moz-transform: translateY(40px);
      -o-transform: translateY(40px);
      -ms-transform: translateY(40px);
      transform: translateY(40px);
      opacity: 0;
    }
    .hidden {
        display: none;
    }
    p {
      margin: 30px 120px 30px;
      &:last-child {
        margin-bottom: 0
      }
      &.note {
        font-size: 14px;
        font-style: italic;
        color: $grey-color;
        margin: 10px 120px 10px;
      }
    }
    pre {
      margin: 30px 120px 30px;
      background-color: $background-color;
      text-align: left;
    }
    h4 {
      margin: 0px;
    }
    .question {
      text-align: center;
      margin: 20px 50px 0px 50px;
      background-color: $background-color;
      &:after {
        content: "?";
      }
      .tabs {
        margin: 20px auto 0;
      }
    }
    .tabs {
      display: inline-block;
      margin: 45px auto 0;
      font-size: 0;

      li {
        display: inline-block;
        margin: 0;
        font-size: 15px;

        &:first-child a {
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
        }
        &:last-child a {
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
        }
        &:nth-child(even) a {
          margin: 0 -1px;
        }
      }
      a {
        color: #323232;
        background-color: #fff;
        padding: 10px 20px;
        display: inline-block;
        border: 1px solid #dddddd;
        position: relative;
        line-height: 1em;
        -webkit-transition: all 0.2s ease-in-out 0s;
        -moz-transition: all 0.2s ease-in-out 0s;
        -o-transition: all 0.2s ease-in-out 0s;
        transition: all 0.2s ease-in-out 0s;

        &:hover {
          color: $link-hover-color;
          border-color: $link-hover-color;
          z-index: 10;
        }
        &.selected {
          z-index: 20;
          color: #fff;
          background-color: $link-color;
          border-color: $link-color;
          outline: none;
        }
      }
    }
    > li {
      list-style: none;
      position: relative;
      background-color: $black200;
      margin: 40px 0 0 0px;
      padding: 10px 0 20px;
      font-size: 16px;
      border: 1px solid #ddd;
      border-radius: 5px;
      text-align: center;
      z-index: 1;
      -webkit-transition: all 0.6s ease-in-out 0s;
      -moz-transition: all 0.6s ease-in-out 0s;
      -o-transition: all 0.6s ease-in-out 0s;
      transition: all 0.6s ease-in-out 0s;

      &:not(.question):after {
        counter-increment: tutorialstep;
        content: counter(tutorialstep);
      }
      &:after {
        width: 40px;
        height: 40px;
        line-height: 40px;
        background-color: $orange500;
        border-radius: 20px;
        font-size: 20px;
        font-weight: 400;
        color: #fff;
        position: absolute;
        left: -15px;
        top: -15px;
        text-align: center;
        -webkit-backface-visibility: hidden;
        z-index: 100;
      }
      &.question:after {
          background-color: #fff;
          border: $orange500 1px solid;
          color: $orange500 !important;
      }
    }
  }
}
