---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <div class="post-meta">
      {% include post-date.html date=page.date %}
      {% include post-tags.html tags=page.tags %}
    </div>
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  <div class="post-navigation">
    <div class="post-navigation-previous">
      {% if page.previous.url %}
        <a href="{{page.previous.url}}" title="Previous post: {{page.previous.title}}">
          &laquo; <span class="post-navigation-title">{{page.previous.title}}</span>
        </a>
      {% endif %}
    </div>
    <div class="post-navigation-next">
      {% if page.next.url %}
        <a href="{{page.next.url}}" title="Next post: {{page.next.title}}">
          <span class="post-navigation-title">{{page.next.title}}</span> &raquo;
        </a>
      {% endif %}
    </div>
  </div>

</article>
